body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

/* ensuring the page doesnt zoom in on the terminal */
@supports (-webkit-overflow-scrolling: touch) {
  .ant-input {
    font-size: 16px !important;
  }
}

/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to portrait */
/* @media (orientation: landscape) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

*/
